
@{
    ViewBag.Title = "index";
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>view与controller的传值样例</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <h3>View--->Controller</h3>
    <hr />
    <p>1.链接方式:(使用场景:在传递少量重要数据的情况下一般使用此方式,即:删除等操作)</p>
    <a href="~/Demo/GetAction?Name=aaa&Age=15">点击</a>
    <hr />
    <p>2.表单方式:(使用场景:传递数据较多时使用)</p>
    <form action="/Demo/GetActionByForm" method="post">
        <input type="text" name="Name" value="" />
        <input type="text" name="Age" value="" />
        <input type="radio" name="Sex" value="男" />男
        <input type="radio" name="Sex" value="女" />女
        <input type="text" name="Tel" value="" />
        <input type="submit" name="name" value="提交" />
    </form>
    <p>2.1.表单方式:(使用场景:传递数据较多时使用)</p>
    <form action="/Demo/GetActionByObject" method="post">
        <input type="text" name="Name" value="test" />
        <input type="text" name="Age" value="18" />
        <input type="radio" name="Sex" value="男" checked="checked" />男
        <input type="radio" name="Sex" value="女" />女
        <input type="text" name="Tel" value="123456" />
        <input type="submit" name="name" value="提交" />
    </form>
    <hr />
    <p>3.ajax方式[post](使用场景:对值处理时方便使用)</p>
    <div id="ajaxway">
        <input type="text" id="Name" name="Name" value="test" />
        <input type="text" id="Age" name="Age" value="18" />
        <input type="radio" name="Sex" value="男" />男
        <input type="radio" name="Sex" value="女" checked="checked" />女
        <input type="text" id="Tel" name="Tel" value="123456" />
        <input id="OkClick" type="button" name="name" value="提交" />
    </div>
    <p>3.1.ajax+form表单方式[post]:(使用场景:对值处理时方便使用,并且传入参数较多时)</p>
    <div id="ajaxform">
        <form id="dgl">
            <input type="text" id="Name" name="Name" value="test" />
            <input type="text" id="Age" name="Age" value="18" />
            <input type="radio" name="Sex" value="男" />男
            <input type="radio" name="Sex" value="女" checked="checked" />女
            <input type="text" id="Tel" name="Tel" value="123456" />
            <input type="button" onclick="submitinfo();" name="name" value="提交" />
        </form>
    </div>
    <hr />
    <p>4.ajax获取后台action的List集合数据返回json</p>
    <div>
        <button id="getlistdata" class="btn-link">点击获取控制器中的List</button>
        <table>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>电话</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script>
        jQuery(function () {
            //ajax传递数据给action
            $("#OkClick").click(function () {
                $.post(
                    "/Demo/GetActionByAjax",
                    {
                        Name: $("#Name").val(),
                        Age: $("#Age").val(),
                        Sex: $("#ajaxway > input[type=radio]:checked").val(),
                        Tel: $("#Tel").val()
                    }, function (data, state) {
                        //获取action传来的值
                        alert(data.Name + "," + data.Age + "," + data.Sex + "," + data.Tel);
                    });
            });

            //Ajax获取list的json格式
            $("#getlistdata").click(function () {
                var str = "";
                $.ajax({
                    type:"post",
                    url: "/Demo/GetActionListByAjax",
                    dataType: "json",
                    success: function (d, s) {
                        $(d).each(function (index,item) {
                            str += "<tr><td>"+item.Name+"</td><td>"+item.Age+"</td><td>"+item.Sex+"</td><td>"+item.Tel+"</td></tr>";
                        });
                        $("tbody").append(str);
                        //alert(str);
                    }

                });
            });



        });

        function submitinfo()
        {
            //注意需要序列化form表单的值
            $.post(
                    "/Demo/GetActionByAjaxForm", $("#dgl").serialize() , function (data, state) {
                        alert(data.Name + "," + data.Age + "," + data.Sex + "," + data.Tel);
              });
        }

    </script>
</body>
</html>
