
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增信息</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div>
        <form id="dg">
            <p>
                LoginName:<input type="text" name="LoginName" value="" />
            </p>
            <p>
                LoginPwd:<input type="text" name="LoginPwd" value="" />
            </p>
            <p>
                StaffNum:<input type="text" name="StaffNum" value="" />
            </p>
            <p>
                JobNum:<input type="text" name="JobNum" value="" />
            </p>
            <p>
                <input type="button" name="name" value="提交" onclick="AddInfo();" />
                @Html.ActionLink("返回", "index", "EFbyAjax")
            </p>
        </form>
    </div>
    <script>

    function AddInfo() {
        $.post("/EFbyAjax/AddInfo", $("#dg").serialize(), function (d, s) {
            if (s == "success" && d == "true") {
                 alert("新增成功!");
                   window.location.href = "/EFbyAjax/Index"
            } else {
                alert("新增失败!");
            }

        });
    }

    </script>
</body>
</html>
