
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>信息展示</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>
                        LoginId
                    </td>
                    <td>
                        LoginNmae
                    </td>
                    <td>
                        LoginPwd
                    </td>
                    <td>
                        StaffNum
                    </td>
                    <td>
                        JobNum
                    </td>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        
    </div>
    <script>

        $.getJSON("/EFAjax/ShowInfo", {}, function (d,s) {

            alert(s);
        });



    </script>
</body>
</html>
